@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Red Hat Text", sans-serif;
}

body {
    position: relative;
    background-color: hsl(13, 31%, 94%);
}

main {
    /* margin: 10px auto; */
    padding: 10px;
}

h1 {
    font-size: 40px;
    color: hsl(14, 65%, 9%);
}

.grid {
    display: grid;
    grid-template-columns: minmax(350px, 1fr);
}

.dessert-card {
    /* border: 1px solid red; */
    margin-bottom: 15px;
}

.dessert-card .dessert-display {
    position: relative;
}

.dessert-card .dessert-display img{
    width: 100%;
    border-radius: 10px;
}

.dessert-card .dessert-display button .add-to-cart {
    margin: 0;
    position: absolute;
    bottom: 10px; /* Stick to the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: hsl(20, 50%, 98%);
    border: 1px solid hsl(7, 20%, 60%);
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dessert-card .dessert-display button .add-to-cart p {
    color:hsl(14, 65%, 9%);
    font-weight: 600;
}

.dessert-display button .add-to-cart.selected {
    width: auto;
    gap: 10px;
    background-color: hsl(14, 86%, 42%);
    color:hsl(13, 31%, 94%);
}

.dessert-card .dessert-details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dessert-card .dessert-details .category p{
    color:hsl(7, 20%, 60%);
    font-size: 14px;
    font-weight: 400;
}

.dessert-card .dessert-details .name p {
    color:hsl(14, 65%, 9%);
    font-weight: 600;
}

.dessert-card .dessert-details .price p {
    color: hsl(14, 86%, 42%);
    font-weight: 700;
}











.cart {
    background-color: hsl(20, 50%, 98%);
    padding: 20px;
    border-radius: 10px;
}

.cart h2 {
    font-size: 30px;
    color: hsl(14, 86%, 42%);
    margin-bottom: 20px;
}

.cart .cart-img {
    display: flex;
    justify-content: center;
}

.cart p .no-items{
    font-size: 14px;
    font-weight: 700;
    color: hsl(7, 20%, 60%);
    text-align: center;
}

.cart .cart-items li{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid hsl(13, 31%, 94%);
}

.cart .cart-items li .desc .amount-details{
    display: flex;
    column-gap: 10px;
}

.cart .cart-items li .desc .dessert-name{
    font-weight: 700;
    color: hsl(14, 65%, 9%);
    margin-bottom: 5px;
}

.cart .cart-items li .desc .amount-details .quantity {
    color:hsl(14, 86%, 42%);
    font-weight: 700;
};

.cart .cart-items li .desc .amount-details .dessert-price {
    color: hsl(7, 20%, 60%);
}

.cart .cart-items li .desc .amount-details .total-amount {
    color: hsl(12, 20%, 44%);
    font-weight: 700;
}

.cart .cart-items li .delete-btn {
    border: 2px solid hsl(7, 20%, 60%);
    border-radius: 100%;
    padding: 5px;
}

.cart .order-total {
    display: flex;
    justify-content: space-between;
    height: 3em;
    align-items: center;
    padding: 20px;
}

.cart .order-total p {
    color: hsl(12, 20%, 44%);
}

.cart .order-total span {
    font-size: 30px;
    color: hsl(14, 65%, 9%);
    font-weight: 700;
}

.cart .delivery {
    display: flex;
    justify-content: space-around;
    background-color: hsl(13, 31%, 94%);
    padding: 20px;
    border-radius: 5px;
}

.cart .confirm-order-btn {
    background-color: hsl(14, 86%, 42%);
    color:hsl(13, 31%, 94%);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 32px;
    width: 100%;
    padding: 16px 20px;
    margin-top: 20px;
}

.order-summary-container {
    position: absolute;
    left: 0;
    bottom: -100%; /* Start off the screen */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Overlay background */
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1000;
    opacity: 0;
}

@keyframes slideUp {
  from {
    transform: translateY(100%); /* Start from below the screen */
  }
  to {
    transform: translateY(0); /* End at its normal position */
  }
}

.order-summary-container.show {
    opacity: 1;
    bottom: 0;
}

.order-summary-modal {
    background-color: white;
    padding: 20px;
    width: 90%;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
    animation: slideUp 0.4s ease forwards;
}

.order-summary-modal h2 {
    font-size: 40px;
    color:hsl(14, 65%, 9%);
}

.order-summary-modal p {
    color:hsl(12, 20%, 44%);
}

.order-summary-modal .order-summary {
    margin: 30px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: hsl(13, 31%, 94%);
}

.order-summary-modal .order-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.order-summary-modal .order-total span {
    font-size: 30px;
    color:hsl(14, 65%, 9%);
    font-weight: 700;
}

.order-summary-modal .start-new-order {
    background-color: hsl(14, 86%, 42%);
    color:hsl(13, 31%, 94%);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 32px;
    width: 100%;
    padding: 16px 20px;
    margin-top: 20px;
}

.dessert-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsl(14, 25%, 72%);
    padding: 10px 0;
}

.dessert-summary .dessert-summary-name {
    color: hsl(14, 65%, 9%);
    font-weight: 700;
}

.dessert-summary .dessert-summary-image img{
    width: 70px;
    border-radius: 7px;
}

.dessert-summary .quantity-price-summary {
    display: flex;
    column-gap: 10px;
}

.dessert-summary .quantity-price-summary .quantity-summary {
    color: hsl(14, 86%, 42%);
    font-weight: 700;
}

.total-dessert-price {
    color: hsl(14, 65%, 9%);
    font-weight: 700;
}